.about {
	padding: 50px 0;
	background: url(../images/about-face.jpg);
	background-position: center bottom;
	background-size: cover;
	
	.flex {
		display: flex;
		flex-direction: rows;
		.col-1 {
			max-width: 300px;
			margin: 0 10px;
		}
		.push-right {
			margin-left: 330px;
		}
		@media (max-width: 640px) {
			display: block;
			.col-1 {
				width: 100%;
				margin: 0 auto;
			}
			.push-right {
				margin: 0 auto;
			}
		}
	}

	.flex-center {
		justify-content: center;
	}

	h2 {
		color: $lead_header;
		font-size: 60px;
		font-weight: 400;
		line-height: 1;
		margin-left: -108px;
		margin-top: 0;
	}
	.home-lead {
		padding-bottom: 180px;
	}
}


@media(max-width: 640px) {
	.about {
		h2, .home-lead {
			margin-left: auto;
			margin-right: auto;
			max-width: 300px;
		}
	}
}