@import "variables";
@import "header";
@import "home";
@import "about";
@import "youtube";
@import "mentoring";

body {
	color: #333333;
	background-color: $background;
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.6;
}

a {
	text-decoration: none;
}


